
 .container{
             padding: 30px;
             box-shadow: 0 0 4px #00000056;
             font-size: 3rem;
           }

           .btns{
             display: flex;
             gap: 6px;
           }

           .btns button{
             padding: 10px 20px;
             cursor: pointer;
           }